In [30]:
import pandas as pd 
import numpy as np

In [31]:
# CSV files to import

M_Deaths_race = "Resources_P3/Maternal_Deaths_race_2009-2019.csv"
Births = "Resources_P3/Births_for_calculation_2009-2019.csv"
M_Deaths_single_race = "Resources_P3/Single_Race_15_Maternal_Deaths_2018-2019.csv"

In [32]:
# read csv files
deaths_df = pd.read_csv(M_Deaths_race)
births_df = pd.read_csv(Births)
single_race_deaths = pd.read_csv(M_Deaths_single_race)

#### CDC Maternal Deaths 2009-2019 [source](https://wonder.cdc.gov/ucd-icd10.html)

In [36]:
deaths_df.head()

,State,State Code,Year,Race,Race Code,Hispanic Origin,Hispanic Origin Code,Deaths,Population,Crude Rate
0,Alabama,1,2016,Black or African American,2054-5,Not Hispanic or Latino,2186-2,14,0,Unreliable
1,Alabama,1,2016,White,2106-3,Not Hispanic or Latino,2186-2,18,0,Unreliable
2,Alabama,1,2017,Black or African American,2054-5,Not Hispanic or Latino,2186-2,25,704201,3.6
3,Alabama,1,2017,White,2106-3,Not Hispanic or Latino,2186-2,15,1655605,Unreliable
4,Alabama,1,2018,Black or African American,2054-5,Not Hispanic or Latino,2186-2,14,706754,Unreliable

#### CDC Natality 2009-2019 (not separated by race, for calculation) [source](https://wonder.cdc.gov/natality-current.html)

In [37]:
births_df.head()

   Year       State  State Code  Births
0  2009     Alabama           1   62475
1  2009      Alaska           2   11324
2  2009     Arizona           4   92798
3  2009    Arkansas           5   39808
4  2009  California           6  527020

In [38]:
# merge two dataframes 
CDC_MMR_data = pd.merge(deaths_df, births_df, how="inner", on=["State", "State Code", "Year"])
CDC_MMR_data.head()

,State,State Code,Year,Race,Race Code,Hispanic Origin,Hispanic Origin Code,Deaths,Population,Crude Rate,Births
0,Alabama,1,2016,Black or African American,2054-5,Not Hispanic or Latino,2186-2,14,0,Unreliable,59151
1,Alabama,1,2016,White,2106-3,Not Hispanic or Latino,2186-2,18,0,Unreliable,59151
2,Alabama,1,2017,Black or African American,2054-5,Not Hispanic or Latino,2186-2,25,704201,3.6,58941
3,Alabama,1,2017,White,2106-3,Not Hispanic or Latino,2186-2,15,1655605,Unreliable,58941
4,Alabama,1,2018,Black or African American,2054-5,Not Hispanic or Latino,2186-2,14,706754,Unreliable,57761

In [22]:
ratio = round(CDC_MMR_data["Deaths"] / CDC_MMR_data["Births"] * 100000, 2)
ratio

0      23.67
1      30.43
2      42.42
3      25.45
4      24.24
5      27.70
6      25.59
7      29.00
8      15.19
9      13.81
10     13.01
11     14.66
12     12.39
13     12.39
14     12.60
15     30.14
16     28.69
17     44.14
18     31.35
19     27.01
20      3.23
21     10.25
22      5.31
23      2.16
24      2.94
25      7.25
26      3.53
27      3.39
28      4.18
29      4.58
30      2.78
31      6.75
32      4.96
33      2.02
34      3.84
35      4.65
36      5.05
37      2.19
38      3.98
39      6.36
40      4.77
41      3.66
42      5.90
43      5.69
44      3.27
45      2.45
46      8.59
47      4.30
48      4.03
49      8.69
50      4.45
51      3.08
52      2.64
53      6.81
54      4.84
55      2.91
56      2.46
57      5.82
58      4.26
59     18.23
60     10.84
61      7.68
62     13.10
63      9.32
64      8.39
65     11.71
66      7.97
67     14.54
68     12.20
69     12.53
70     10.21
71     14.39
72     11.36
73     10.91
74     10.70
75     14.71
76      7.11
77     11.11
78      9.39
79      4.92
80      6.71
81      7.67
82      4.51
83      9.93
84     12.73
85     13.64
86     18.39
87     17.17
88      8.21
89     21.15
90     12.08
91     18.42
92      9.98
93     29.52
94     30.29
95     35.13
96     35.89
97     36.53
98     33.48
99     30.76
100    18.46
101    34.04
102    17.80
103    27.74
104    18.23
105    34.82
106    12.66
107    11.10
108     7.01
109     9.08
110     9.30
111    12.40
112     9.42
113     6.91
114     8.92
115     6.31
116     8.83
117    11.38
118    10.75
119     8.42
120     7.12
121    10.04
122     9.37
123     8.98
124     8.56
125    13.85
126    40.62
127    36.05
128    26.47
129    34.49
130    44.03
131    46.94
132    36.51
133    20.82
134    33.39
135    25.75
136    23.30
137    32.32
138    21.44
139    39.68
140    29.22
141    42.65
142    30.15
143    28.73
144    44.30
145    25.32
146    41.86
147    17.06
148    35.55
149    24.73
150    55.40
151    28.49
152    32.78
153    31.14
154    25.16
155    25.45
156    13.32
157    21.68
158    15.05
159    19.21
160    21.64
161    19.54
162    17.10
163    16.83
164    15.56
165     9.38
166    18.76
167    14.84
168    23.57
169    11.40
170    15.79
171     9.73
172    15.92
173    12.34
174    18.50
175    11.37
176    13.11
177    15.89
178    10.59
179    22.06
180    12.56
181     9.09
182    18.18
183    10.20
184    18.54
185    14.62
186    14.34
187    18.95
188    30.11
189    43.67
190    18.39
191    15.91
192    27.83
193    29.22
194    13.27
195    29.19
196    17.32
197    23.98
198    17.40
199    17.40
200    24.65
201    23.20
202    10.88
203    13.60
204    13.09
205    18.89
206    16.06
207    14.39
208    14.39
209    29.25
210    15.60
211    25.17
212    17.42
213    20.36
214    19.48
215    10.72
216    10.72
217    13.83
218    15.80
219    15.81
220    10.87
221    14.06
222    11.05
223    14.11
224     5.24
225     7.25
226    11.05
227     5.73
228     7.37
229     7.87
230     6.22
231     9.12
232     9.96
233     4.57
234     7.89
235     9.28
236    11.39
237    11.73
238     8.79
239    11.38
240     4.64
241     7.59
242     8.96
243     4.70
244    10.67
245     9.14
246     4.35
247     6.09
248    12.82
249    12.38
250    14.90
251     7.22
252    10.38
253     7.88
254    17.36
255     8.27
256    14.07
257    16.55
258    13.25
259    14.90
260    17.48
261     9.99
262     9.25
263    10.09
264    18.53
265    13.48
266    10.36
267    27.62
268    21.56
269    18.85
270    12.28
271    14.44
272     9.36
273    11.52
274    10.04
275    12.21
276    15.08
277    16.66
278     8.04
279    21.92
280    13.32
281    10.41
282    23.80
283    33.00
284    28.18
285    22.96
286    20.85
287    24.36
288    19.01
289    27.88
290    26.10
291     9.56
292    14.34
293     9.07
294    13.26
295    10.48
296    13.33
297     7.81
298    14.19
299    16.17
300    10.63
301    10.76
302    15.78
303     7.26
304    20.33
305     7.37
306    11.06
307    10.43
308    15.64
309    16.50
310    16.50
311    31.36
312    24.65
313    29.50
314    18.92
315    24.41
316    22.67
317    26.30
318    22.79
319    17.53
320    19.91
321    28.62
322    22.50
323    18.38
324    15.91
325    17.14
326    16.09
327    12.34
328    30.86
329    17.34
330    14.86
331    13.67
332    13.67
333     8.71
334    10.20
335    10.95
336     6.47
337     8.55
338    10.62
339    10.86
340     6.62
341    15.90
342    13.06
343    12.80
344    14.37
345    10.84
346    14.20
347    16.52
348     9.26
349    12.51
350    14.51
351    13.38
352    10.16
353    14.37
354    12.31
355    12.31
356    12.81
357    11.52
358    14.13
359    12.30
360     6.34
361     9.51
362     8.19
363     5.83
364     8.74
365     8.21
366    25.51
367    21.66
368    21.36
369    12.58
370    12.58
371    18.54
372    26.35
373     9.96
374    26.89
375    15.40
376    11.29
377    12.65
378    16.17
379    12.42
380    14.85
381    15.10
382    20.02
383    54.80
384    14.12
385    14.75
386    19.36
387    14.92
dtype: float64

In [39]:
CDC_MMR_data["Maternal Mortality Ratio"] = ratio
CDC_MMR_data.head()

,State,State Code,Year,Race,Race Code,Hispanic Origin,Hispanic Origin Code,Deaths,Population,Crude Rate,Births,Maternal Mortality Ratio
0,Alabama,1,2016,Black or African American,2054-5,Not Hispanic or Latino,2186-2,14,0,Unreliable,59151,23.67
1,Alabama,1,2016,White,2106-3,Not Hispanic or Latino,2186-2,18,0,Unreliable,59151,30.43
2,Alabama,1,2017,Black or African American,2054-5,Not Hispanic or Latino,2186-2,25,704201,3.6,58941,42.42
3,Alabama,1,2017,White,2106-3,Not Hispanic or Latino,2186-2,15,1655605,Unreliable,58941,25.45
4,Alabama,1,2018,Black or African American,2054-5,Not Hispanic or Latino,2186-2,14,706754,Unreliable,57761,24.24

In [40]:
CDC_MMR_final_df = CDC_MMR_data[["State", "State Code", "Year", "Race", "Race Code", "Hispanic Origin", "Hispanic Origin Code", "Deaths", "Births", "Maternal Mortality Ratio", "Population"]]
CDC_MMR_final_df.head()

,State,State Code,Year,Race,Race Code,Hispanic Origin,Hispanic Origin Code,Deaths,Births,Maternal Mortality Ratio,Population
0,Alabama,1,2016,Black or African American,2054-5,Not Hispanic or Latino,2186-2,14,59151,23.67,0
1,Alabama,1,2016,White,2106-3,Not Hispanic or Latino,2186-2,18,59151,30.43,0
2,Alabama,1,2017,Black or African American,2054-5,Not Hispanic or Latino,2186-2,25,58941,42.42,704201
3,Alabama,1,2017,White,2106-3,Not Hispanic or Latino,2186-2,15,58941,25.45,1655605
4,Alabama,1,2018,Black or African American,2054-5,Not Hispanic or Latino,2186-2,14,57761,24.24,706754

In [41]:
#rename columns for database use
CDC_MMR_by_race_df = CDC_MMR_final_df.rename(columns={"State": "state",
                                                    "State Code": "state_code", 
                                                    "Year": "year",
                                                    "Race": "race",
                                                    "Race Code": "race_code",
                                                    "Hispanic Origin": "hispanic_origin",
                                                    "Hispanic Origin Code": "hispanic_origin_code",
                                                    "Deaths": "deaths",
                                                    "Births": "births",
                                                    "Maternal Mortality Ratio": "maternal_mortality_ratio",
                                                    "Population": "population"})
CDC_MMR_by_race_df.head()

,state,state_code,year,race,race_code,hispanic_origin,hispanic_origin_code,deaths,births,maternal_mortality_ratio,population
0,Alabama,1,2016,Black or African American,2054-5,Not Hispanic or Latino,2186-2,14,59151,23.67,0
1,Alabama,1,2016,White,2106-3,Not Hispanic or Latino,2186-2,18,59151,30.43,0
2,Alabama,1,2017,Black or African American,2054-5,Not Hispanic or Latino,2186-2,25,58941,42.42,704201
3,Alabama,1,2017,White,2106-3,Not Hispanic or Latino,2186-2,15,58941,25.45,1655605
4,Alabama,1,2018,Black or African American,2054-5,Not Hispanic or Latino,2186-2,14,57761,24.24,706754

#### CDC Maternal Deaths with Single-Race Request option (only available for years 2018-2019)[source](https://wonder.cdc.gov/ucd-icd10-expanded.html)

In [42]:
single_race_deaths

,State,State Code,Year,Single Race 15,Single Race 15 Code,Hispanic Origin,Hispanic Origin Code,Deaths
0,Alabama,1,2018,White,1,Not Hispanic or Latino,2186-2,16
1,Alabama,1,2018,Black,2,Not Hispanic or Latino,2186-2,14
2,Arizona,4,2018,White,1,Hispanic or Latino,2135-2,10
3,Arizona,4,2018,White,1,Not Hispanic or Latino,2186-2,10
4,Arkansas,5,2018,White,1,Not Hispanic or Latino,2186-2,10
5,California,6,2018,White,1,Hispanic or Latino,2135-2,31
6,California,6,2018,White,1,Not Hispanic or Latino,2186-2,22
7,California,6,2018,Black,2,Not Hispanic or Latino,2186-2,10
8,Florida,12,2018,White,1,Hispanic or Latino,2135-2,10
9,Florida,12,2018,White,1,Not Hispanic or Latino,2186-2,22
10,Florida,12,2018,Black,2,Not Hispanic or Latino,2186-2,17
11,Georgia,13,2018,White,1,Not Hispanic or Latino,2186-2,23
12,Georgia,13,2018,Black,2,Not Hispanic or Latino,2186-2,35
13,Illinois,17,2018,White,1,Not Hispanic or Latino,2186-2,13
14,Indiana,18,2018,White,1,Not Hispanic or Latino,2186-2,17
15,Kentucky,21,2018,White,1,Not Hispanic or Latino,2186-2,23
16,Louisiana,22,2018,Black,2,Not Hispanic or Latino,2186-2,15
17,Michigan,26,2018,White,1,Not Hispanic or Latino,2186-2,20
18,Michigan,26,2018,Black,2,Not Hispanic or Latino,2186-2,10
19,Missouri,29,2018,White,1,Not Hispanic or Latino,2186-2,17
20,New Jersey,34,2018,Black,2,Not Hispanic or Latino,2186-2,16
21,New York,36,2018,White,1,Not Hispanic or Latino,2186-2,27
22,New York,36,2018,Black,2,Not Hispanic or Latino,2186-2,29
23,North Carolina,37,2018,White,1,Not Hispanic or Latino,2186-2,12
24,North Carolina,37,2018,Black,2,Not Hispanic or Latino,2186-2,11
25,Ohio,39,2018,White,1,Not Hispanic or Latino,2186-2,18
26,Oklahoma,40,2018,White,1,Not Hispanic or Latino,2186-2,12
27,Pennsylvania,42,2018,White,1,Not Hispanic or Latino,2186-2,15
28,Pennsylvania,42,2018,Black,2,Not Hispanic or Latino,2186-2,10
29,Tennessee,47,2018,White,1,Not Hispanic or Latino,2186-2,12
30,Tennessee,47,2018,Black,2,Not Hispanic or Latino,2186-2,14
31,Texas,48,2018,White,1,Hispanic or Latino,2135-2,36
32,Texas,48,2018,White,1,Not Hispanic or Latino,2186-2,31
33,Texas,48,2018,Black,2,Not Hispanic or Latino,2186-2,24
34,Washington,53,2018,White,1,Not Hispanic or Latino,2186-2,13
35,West Virginia,54,2018,White,1,Not Hispanic or Latino,2186-2,10
36,Alabama,1,2019,White,1,Not Hispanic or Latino,2186-2,17
37,Alabama,1,2019,Black,2,Not Hispanic or Latino,2186-2,15
38,California,6,2019,White,1,Hispanic or Latino,2135-2,24
39,California,6,2019,White,1,Not Hispanic or Latino,2186-2,19
40,California,6,2019,Black,2,Not Hispanic or Latino,2186-2,10
41,Florida,12,2019,White,1,Not Hispanic or Latino,2186-2,30
42,Florida,12,2019,Black,2,Not Hispanic or Latino,2186-2,28
43,Georgia,13,2019,White,1,Not Hispanic or Latino,2186-2,16
44,Georgia,13,2019,Black,2,Not Hispanic or Latino,2186-2,43
45,Illinois,17,2019,White,1,Not Hispanic or Latino,2186-2,12
46,Indiana,18,2019,White,1,Not Hispanic or Latino,2186-2,27
47,Kentucky,21,2019,White,1,Not Hispanic or Latino,2186-2,16
48,Louisiana,22,2019,Black,2,Not Hispanic or Latino,2186-2,15
49,Maryland,24,2019,Black,2,Not Hispanic or Latino,2186-2,12
50,Michigan,26,2019,White,1,Not Hispanic or Latino,2186-2,20
51,Michigan,26,2019,Black,2,Not Hispanic or Latino,2186-2,11
52,Mississippi,28,2019,Black,2,Not Hispanic or Latino,2186-2,16
53,New Jersey,34,2019,White,1,Hispanic or Latino,2135-2,11
54,New Jersey,34,2019,Black,2,Not Hispanic or Latino,2186-2,14
55,New York,36,2019,White,1,Hispanic or Latino,2135-2,16
56,New York,36,2019,White,1,Not Hispanic or Latino,2186-2,23
57,New York,36,2019,Black,2,Not Hispanic or Latino,2186-2,33
58,North Carolina,37,2019,White,1,Not Hispanic or Latino,2186-2,16
59,North Carolina,37,2019,Black,2,Not Hispanic or Latino,2186-2,22
60,Ohio,39,2019,White,1,Not Hispanic or Latino,2186-2,32
61,Ohio,39,2019,Black,2,Not Hispanic or Latino,2186-2,14
62,Pennsylvania,42,2019,White,1,Not Hispanic or Latino,2186-2,21
63,Pennsylvania,42,2019,Black,2,Not Hispanic or Latino,2186-2,13
64,South Carolina,45,2019,White,1,Not Hispanic or Latino,2186-2,10
65,South Carolina,45,2019,Black,2,Not Hispanic or Latino,2186-2,13
66,Tennessee,47,2019,White,1,Not Hispanic or Latino,2186-2,11
67,Tennessee,47,2019,Black,2,Not Hispanic or Latino,2186-2,11
68,Texas,48,2019,White,1,Hispanic or Latino,2135-2,33
69,Texas,48,2019,White,1,Not Hispanic or Latino,2186-2,31
70,Texas,48,2019,Black,2,Not Hispanic or Latino,2186-2,22
71,Utah,49,2019,White,1,Not Hispanic or Latino,2186-2,10
72,Virginia,51,2019,White,1,Not Hispanic or Latino,2186-2,11
73,Virginia,51,2019,Black,2,Not Hispanic or Latino,2186-2,15
74,Washington,53,2019,White,1,Not Hispanic or Latino,2186-2,17

#### Export csv of MMR separated by race for 2009-2019

In [43]:
# export file as a CSV, without the Pandas Index, but with the header
CDC_MMR_by_race_df.to_csv("Cleaned_Data/MMR_by_race_ML.csv", index=False, header=True, float_format='%.2f')