In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

In [2]:
# CSV files to import

MMR_totals = "Cleaned_Data/2009_2019_CDC_MMR.csv"
M_Deaths_race = "Resources_P3/Maternal_Deaths_race_2009-2019.csv"
Births = "Resources_P3/Births_for_calculation_2009-2019.csv"
M_race_births = "Resources_P3/Births_Maternal_race_2009-2019.csv"

In [3]:
# read csv files
MMR_totals = pd.read_csv(MMR_totals)
deaths_df = pd.read_csv(M_Deaths_race)
births_df = pd.read_csv(Births)
births_mat_race = pd.read_csv(M_race_births)

#### CDC Maternal Deaths by race 2009-2019 [source](https://wonder.cdc.gov/ucd-icd10.html)

In [13]:
deaths_df.head()

,State,State Code,Year,Race,Race Code,Hispanic Origin,Hispanic Origin Code,Deaths,Population,Crude Rate
0,Alabama,1,2016,Black or African American,2054-5,Not Hispanic or Latino,2186-2,14,0,Unreliable
1,Alabama,1,2016,White,2106-3,Not Hispanic or Latino,2186-2,18,0,Unreliable
2,Alabama,1,2017,Black or African American,2054-5,Not Hispanic or Latino,2186-2,25,704201,3.6
3,Alabama,1,2017,White,2106-3,Not Hispanic or Latino,2186-2,15,1655605,Unreliable
4,Alabama,1,2018,Black or African American,2054-5,Not Hispanic or Latino,2186-2,14,706754,Unreliable

In [23]:
# change "Population" column to "Population by Race"
deaths_race_df = deaths_df.rename(columns={"State": "state",
                                           "State Code": "state_code",
                                           "Year": "year",
                                           "Population": "population_by_race",
                                           "Deaths": "deaths_by_race"})
deaths_race_df.head(50)

,state,state_code,year,Race,Race Code,Hispanic Origin,Hispanic Origin Code,deaths_by_race,population_by_race,Crude Rate
0,Alabama,1,2016,Black or African American,2054-5,Not Hispanic or Latino,2186-2,14,0,Unreliable
1,Alabama,1,2016,White,2106-3,Not Hispanic or Latino,2186-2,18,0,Unreliable
2,Alabama,1,2017,Black or African American,2054-5,Not Hispanic or Latino,2186-2,25,704201,3.6
3,Alabama,1,2017,White,2106-3,Not Hispanic or Latino,2186-2,15,1655605,Unreliable
4,Alabama,1,2018,Black or African American,2054-5,Not Hispanic or Latino,2186-2,14,706754,Unreliable
5,Alabama,1,2018,White,2106-3,Not Hispanic or Latino,2186-2,16,1657262,Unreliable
6,Alabama,1,2019,Black or African American,2054-5,Not Hispanic or Latino,2186-2,15,709544,Unreliable
7,Alabama,1,2019,White,2106-3,Not Hispanic or Latino,2186-2,17,1660160,Unreliable
8,Arizona,4,2013,White,2106-3,Not Hispanic or Latino,2186-2,13,0,Unreliable
9,Arizona,4,2014,White,2106-3,Not Hispanic or Latino,2186-2,12,1947854,Unreliable
10,Arizona,4,2016,White,2106-3,Not Hispanic or Latino,2186-2,11,0,Unreliable
11,Arizona,4,2017,White,2106-3,Not Hispanic or Latino,2186-2,12,1982444,Unreliable
12,Arizona,4,2018,White,2106-3,Hispanic or Latino,2135-2,10,1025281,Unreliable
13,Arizona,4,2018,White,2106-3,Not Hispanic or Latino,2186-2,10,2010606,Unreliable
14,Arizona,4,2019,White,2106-3,Hispanic or Latino,2135-2,10,1045722,Unreliable
15,Arkansas,5,2009,White,2106-3,Not Hispanic or Latino,2186-2,12,0,Unreliable
16,Arkansas,5,2012,White,2106-3,Not Hispanic or Latino,2186-2,11,0,Unreliable
17,Arkansas,5,2014,White,2106-3,Not Hispanic or Latino,2186-2,17,0,Unreliable
18,Arkansas,5,2016,White,2106-3,Not Hispanic or Latino,2186-2,12,0,Unreliable
19,Arkansas,5,2018,White,2106-3,Not Hispanic or Latino,2186-2,10,1125656,Unreliable
20,California,6,2009,Black or African American,2054-5,Not Hispanic or Latino,2186-2,17,1192173,Unreliable
21,California,6,2009,White,2106-3,Hispanic or Latino,2135-2,54,0,0
22,California,6,2009,White,2106-3,Not Hispanic or Latino,2186-2,28,0,0
23,California,6,2010,Asian or Pacific Islander,A-PI,Not Hispanic or Latino,2186-2,11,2720149,Unreliable
24,California,6,2010,Black or African American,2054-5,Not Hispanic or Latino,2186-2,15,0,Unreliable
25,California,6,2010,White,2106-3,Hispanic or Latino,2135-2,37,0,0
26,California,6,2010,White,2106-3,Not Hispanic or Latino,2186-2,18,0,Unreliable
27,California,6,2011,Black or African American,2054-5,Not Hispanic or Latino,2186-2,17,0,Unreliable
28,California,6,2011,White,2106-3,Hispanic or Latino,2135-2,21,0,0
29,California,6,2011,White,2106-3,Not Hispanic or Latino,2186-2,23,7757084,0.3
30,California,6,2012,Black or African American,2054-5,Not Hispanic or Latino,2186-2,14,0,Unreliable
31,California,6,2012,White,2106-3,Hispanic or Latino,2135-2,34,0,0
32,California,6,2012,White,2106-3,Not Hispanic or Latino,2186-2,25,0,0
33,California,6,2013,Asian or Pacific Islander,A-PI,Not Hispanic or Latino,2186-2,10,0,Unreliable
34,California,6,2013,Black or African American,2054-5,Not Hispanic or Latino,2186-2,19,0,Unreliable
35,California,6,2013,White,2106-3,Hispanic or Latino,2135-2,23,0,0
36,California,6,2013,White,2106-3,Not Hispanic or Latino,2186-2,25,7743548,0.3
37,California,6,2014,Asian or Pacific Islander,A-PI,Not Hispanic or Latino,2186-2,11,0,Unreliable
38,California,6,2014,Black or African American,2054-5,Not Hispanic or Latino,2186-2,20,1223144,1.6
39,California,6,2014,White,2106-3,Hispanic or Latino,2135-2,32,0,0
40,California,6,2014,White,2106-3,Not Hispanic or Latino,2186-2,24,7734375,0.3
41,California,6,2015,Black or African American,2054-5,Not Hispanic or Latino,2186-2,18,0,Unreliable
42,California,6,2015,White,2106-3,Hispanic or Latino,2135-2,29,0,0
43,California,6,2015,White,2106-3,Not Hispanic or Latino,2186-2,28,7714126,0.4
44,California,6,2016,Asian or Pacific Islander,A-PI,Not Hispanic or Latino,2186-2,16,0,Unreliable
45,California,6,2016,Black or African American,2054-5,Not Hispanic or Latino,2186-2,12,0,Unreliable
46,California,6,2016,White,2106-3,Hispanic or Latino,2135-2,42,0,0
47,California,6,2016,White,2106-3,Not Hispanic or Latino,2186-2,21,7677407,0.3
48,California,6,2017,Black or African American,2054-5,Not Hispanic or Latino,2186-2,19,1228739,Unreliable
49,California,6,2017,White,2106-3,Hispanic or Latino,2135-2,41,7021336,0.6

In [33]:
# dataframe for births by maternal race
# change race column names to match for merging
# noting that for births the race is the maternal race
births_mat_race.head(50)
births_by_race = births_mat_race.rename(columns={"Births": "births_by_race", 
                                    "Mother's Bridged Race": "Race", 
                                    "Mother's Bridged Race Code": "Race Code", 
                                    "Mother's Hispanic Origin": "Hispanic Origin",
                                    "Mother's Hispanic Origin Code": "Hispanic Origin Code",
                                    "State": "state",
                                    "State Code": "state_code",
                                    "Year": "year"})
births_by_race.head(50)
births_by_race.loc[births_by_race["year"] == 2016]

,state,state_code,year,Race,Race Code,Hispanic Origin,Hispanic Origin Code,births_by_race
3510,Alabama,1,2016,American Indian or Alaska Native,1002-5,Hispanic or Latino,2135-2,22
3511,Alabama,1,2016,American Indian or Alaska Native,1002-5,Not Hispanic or Latino,2186-5,139
3512,Alabama,1,2016,Asian or Pacific Islander,A-PI,Hispanic or Latino,2135-2,170
3513,Alabama,1,2016,Asian or Pacific Islander,A-PI,Not Hispanic or Latino,2186-5,1108
3514,Alabama,1,2016,Black or African American,2054-5,Hispanic or Latino,2135-2,494
...,...,...,...,...,...,...,...,...
4014,Wyoming,56,2016,Black or African American,2054-5,Hispanic or Latino,2135-2,33
4015,Wyoming,56,2016,Black or African American,2054-5,Not Hispanic or Latino,2186-5,91
4016,Wyoming,56,2016,White,2106-3,Hispanic or Latino,2135-2,893
4017,Wyoming,56,2016,White,2106-3,Not Hispanic or Latino,2186-5,5834
4018,Wyoming,56,2016,White,2106-3,Unknown or Not Stated,9,130

In [34]:
# merge deaths and births data stratified by race
race_birth_death_df = pd.merge(deaths_race_df, births_by_race, how="left", on=["state", "year", "Race Code", "Hispanic Origin Code"])
race_birth_death_df.head()

,state,state_code_x,year,Race_x,Race Code,Hispanic Origin_x,Hispanic Origin Code,deaths_by_race,population_by_race,Crude Rate,state_code_y,Race_y,Hispanic Origin_y,births_by_race
0,Alabama,1,2016,Black or African American,2054-5,Not Hispanic or Latino,2186-2,14,0,Unreliable,NaN,NaN,NaN,NaN
1,Alabama,1,2016,White,2106-3,Not Hispanic or Latino,2186-2,18,0,Unreliable,NaN,NaN,NaN,NaN
2,Alabama,1,2017,Black or African American,2054-5,Not Hispanic or Latino,2186-2,25,704201,3.6,NaN,NaN,NaN,NaN
3,Alabama,1,2017,White,2106-3,Not Hispanic or Latino,2186-2,15,1655605,Unreliable,NaN,NaN,NaN,NaN
4,Alabama,1,2018,Black or African American,2054-5,Not Hispanic or Latino,2186-2,14,706754,Unreliable,NaN,NaN,NaN,NaN

In [38]:
race_birth_death_df = deaths_race_df.merge(births_by_race, how="left", on=["state", "year", "Race", "Hispanic Origin"])
race_birth_death_df

,state,state_code_x,year,Race,Race Code_x,Hispanic Origin,Hispanic Origin Code_x,deaths_by_race,population_by_race,Crude Rate,state_code_y,Race Code_y,Hispanic Origin Code_y,births_by_race
0,Alabama,1,2016,Black or African American,2054-5,Not Hispanic or Latino,2186-2,14,0,Unreliable,1,2054-5,2186-5,17989
1,Alabama,1,2016,White,2106-3,Not Hispanic or Latino,2186-2,18,0,Unreliable,1,2106-3,2186-5,35319
2,Alabama,1,2017,Black or African American,2054-5,Not Hispanic or Latino,2186-2,25,704201,3.6,1,2054-5,2186-5,18354
3,Alabama,1,2017,White,2106-3,Not Hispanic or Latino,2186-2,15,1655605,Unreliable,1,2106-3,2186-5,34784
4,Alabama,1,2018,Black or African American,2054-5,Not Hispanic or Latino,2186-2,14,706754,Unreliable,1,2054-5,2186-5,17939
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
383,West Virginia,54,2018,White,2106-3,Not Hispanic or Latino,2186-2,10,853052,Unreliable,54,2106-3,2186-5,16785
384,Wisconsin,55,2009,White,2106-3,Not Hispanic or Latino,2186-2,10,0,Unreliable,55,2106-3,2186-5,52462
385,Wisconsin,55,2011,White,2106-3,Not Hispanic or Latino,2186-2,10,0,Unreliable,55,2106-3,2186-5,50500
386,Wisconsin,55,2014,White,2106-3,Not Hispanic or Latino,2186-2,13,2409803,Unreliable,55,2106-3,2186-5,49440
387,Wisconsin,55,2015,White,2106-3,Not Hispanic or Latino,2186-2,10,0,Unreliable,55,2106-3,2186-5,49024

In [10]:
MMR_totals.head()

,state,state_code,year,deaths,births,maternal_mortality_ratio,population
0,Alabama,1,2015,12,59657,20.11,2505795
1,Alabama,1,2016,35,59151,59.17,2507714
2,Alabama,1,2017,41,58941,69.56,2514911
3,Alabama,1,2018,31,57761,53.67,2523756
4,Alabama,1,2019,35,58615,59.71,2533668

In [11]:
MMR_totals_us = MMR_totals.rename(columns={"population": "total_population",
                                           "maternal_mortality_ratio": "total_mmr",
                                           "deaths": "total_deaths", 
                                           "births": "total_births"})
MMR_totals_us

,state,state_code,year,total_deaths,total_births,total_mmr,total_population
0,Alabama,1,2015,12,59657,20.11,2505795
1,Alabama,1,2016,35,59151,59.17,2507714
2,Alabama,1,2017,41,58941,69.56,2514911
3,Alabama,1,2018,31,57761,53.67,2523756
4,Alabama,1,2019,35,58615,59.71,2533668
...,...,...,...,...,...,...,...
303,Wisconsin,55,2014,16,67161,23.82,2898057
304,Wisconsin,55,2015,11,67041,16.41,2903737
305,Wisconsin,55,2016,15,66615,22.52,2905282
306,Wisconsin,55,2017,12,64975,18.47,2912745
307,Wisconsin,55,2019,13,63270,20.55,2925225